@use 'base/mixins' as m;
@use 'base/variables' as v;
.speakers {
    &__grid {
        @include m.contenedor-sm;
        @include m.grid(2, 1rem);
        @include m.tablet {
            @include m.contenedor;
            @include m.grid(3, 2rem);
        }
        @include m.desktop {
            @include m.grid(4, 3rem);
        }
    }
}

.speaker {
    @include m.card;
    background-position: center top;
    background-size: 17rem;
    background-repeat: no-repeat;
    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set( url('../img/bg_#{$i}.avif') 1x,
            url('../img/bg_#{$i}.webp') 1x,
            url('../img/bg_#{$i}.png') 1x,
            );
        }
    }
    @include m.tablet {
        background-size: 20rem;
    }
    @include m.desktop {
        background-size: 25rem;
    }
    &__imagen {
        min-width: 10rem;
        @include m.tablet {
            min-width: unset;
        }
    }
    &__ubicacion {
        color: v.$gris;
        margin: 0;
        font-size: 1rem;
        @include m.tablet {
            line-height: 1.5;
            font-size: 1.5rem;
        }
        @include m.desktop {
            line-height: 1.5;
            font-size: 2rem;
        }
    }
    &__listado-skills {
        @include m.tags;
    }
}

.speaker-sociales {
    @include m.menu-social(v.$negro,
    1.5rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
    @include m.tablet {
        @include m.menu-social(v.$negro,
        2.5rem);
        gap: 2rem;
        margin-top: 2rem;
    }
}